body {
  font-family: "Roboto", sans-serif;
  color: var(--color-black);
}

@mixin display-shared-styles {
  line-height: 1.5;
}

@mixin title-shared-styles {
  font-weight: 700;
}

.display {
  &-1 {
    @include display-shared-styles;
    font-weight: 700;
    font-size: 3rem;
  }

  &-2 {
    @include display-shared-styles;
    font-size: 2rem;
    font-weight: 700;
  }

  &-3 {
    @include display-shared-styles;
    font-size: 1.75rem;
    font-weight: 500;
  }
}

.title {
  &-1 {
    @include title-shared-styles;
    line-height: calc(34 / 22);
    font-size: 1.375rem;
  }
  &-2 {
    @include title-shared-styles;
    line-height: calc(28 / 18);
    font-size: 1.125rem;
  }
  &-3 {
    @include title-shared-styles;
    line-height: calc(22 / 15);
    font-size: 0.938rem;
  }
}

.body {
  &-1 {
    font-size: 1.125rem;
    line-height: calc(28 / 18);
    font-weight: 500;
  }
  &-2 {
    font-size: 1.125rem;
    line-height: calc(28 / 18);
    font-weight: 300;
  }
  &-3 {
    font-size: 0.938rem;
    line-height: calc(22 / 15);
    font-weight: 500;
  }
}
